# Database Connection URI
MONGODB_URI=mongodb://localhost:27017/recapped

# Application URL Configurations
ALLOWED_ORIGINS=http://localhost:5173
VITE_API_URL=http://localhost:5000/api
PORT=5000

# Crypto Encryption Key
# Generate a secure 32-character key for encryption/decryption at rest
NOTION_ENCRYPTION_KEY=some_secure_random_32_char_key_here

# Notion Workspace API Configuration
# Create an integration at https://www.notion.so/my-integrations
NOTION_CLIENT_ID=
NOTION_CLIENT_SECRET=
NOTION_REDIRECT_URI=http://localhost:5000/api/integrations/notion/callback

# Slack Workspace API Configuration
# Create a Slack App at https://api.slack.com/apps
# Make sure to add the 'chat:write' and 'channels:read' bot scopes to your App.
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_SIGNING_SECRET=
# Must match exactly what is registered in the redirect URLs configuration inside the Slack App Dashboard
SLACK_REDIRECT_URI=http://localhost:5000/api/integrations/slack/callback
